In [1]:
import pandas as pd
import numpy as np

In [2]:
# reading in the data
df = pd.read_csv('game_sales_data.csv')

In [3]:
df.head()

,Rank,Name,Platform,Publisher,Developer,Critic_Score,User_Score,Total_Shipped,Year
0,1,Wii Sports,Wii,Nintendo,Nintendo EAD,7.7,8.0,82.90,2006
1,2,Super Mario Bros.,NES,Nintendo,Nintendo EAD,10.0,8.2,40.24,1985
2,3,Counter-Strike: Global Offensive,PC,Valve,Valve Corporation,8.0,7.5,40.00,2012
3,4,Mario Kart Wii,Wii,Nintendo,Nintendo EAD,8.2,9.1,37.32,2008
4,5,PLAYERUNKNOWN'S BATTLEGROUNDS,PC,PUBG Corporation,PUBG Corporation,8.6,4.7,36.60,2017

In [4]:
df.loc[df.Name == 'Mortal Kombat 11', 'Rank'] = 19599

In [5]:
df.loc[df.Name == 'Madden NFL 20', 'Rank'] = 19600

In [6]:
game_sales = df[['Rank', 'Name', 'Platform', 'Publisher', 'Developer', 'Total_Shipped', 'Year']]
game_sales.rename(columns={'Rank' : 'game_id','Total_Shipped': 'games_sold', 'Name': 'game'}, inplace=True)
game_sales.columns = game_sales.columns.str.lower()
game_sales.to_csv('game_sales.csv', index = False)

/Users/chinabradley/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [7]:
reviews = df[['Rank', 'Critic_Score', 'User_Score']]
reviews.rename(columns={'Rank':'game_id'}, inplace=True)
reviews.columns = reviews.columns.str.lower()
reviews.to_csv('reviews.csv', index = False)

In [8]:
game_sales.head()

,game_id,game,platform,publisher,developer,games_sold,year
0,1,Wii Sports,Wii,Nintendo,Nintendo EAD,82.90,2006
1,2,Super Mario Bros.,NES,Nintendo,Nintendo EAD,40.24,1985
2,3,Counter-Strike: Global Offensive,PC,Valve,Valve Corporation,40.00,2012
3,4,Mario Kart Wii,Wii,Nintendo,Nintendo EAD,37.32,2008
4,5,PLAYERUNKNOWN'S BATTLEGROUNDS,PC,PUBG Corporation,PUBG Corporation,36.60,2017